// *** Project Variables ***
// *************************

// primary color variables 
$color-primary: #58e1c1;
$color-secondary: #777;
$color-links: #51ddfc;
$color-accent: #58e1c1;
$color-white: #fff;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;
$color-image-border: #ccc;

// additional color variable for grid
$color-grid-1: #deb2ee;
$color-grid-2: #7ee6fd;
$color-grid-3: #88d9a0;
$color-grid-4: #4da2bb;
$color-grid-5: #ec9fa3;
$color-grid-6: #fd9f85;
$color-grid-7: #80e8d1;

// typography variables
$font-stack-primary: 'Lato', sans-serif;

// breakpoints
$min-width: '(min-width: 768px)';
$container-max-width: 1400px;