/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include img-centered;
  margin-top: 10px;
  max-height: 100%;
}

.img-frame {
  @include img-centered;
  margin-top: 10px;
  padding: 13px;
  border: 1px solid $color-image-border;
}

.img-logo {
  @include img-centered;
}